# Core Libraries
streamlit
playwright
yt-dlp
moviepy
openai
instagrapi
python-telegram-bot
requests
toml
python-aliexpress-api
pytrends
notion-client
cloudinary

# Dependencies (often installed automatically, but good to specify)
numpy
pandas

# For Coupang Partners API
PyJWT
